body {
  font: 16px sans-serif;
}
.wrap {
  background: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
}
.controls {
  display: flex;
}
.control {
  padding: 10px;
}
.control div {
  height: 50px;
  margin-top: 10px;
}
